* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: normal;
}

html {
  scroll-behavior: smooth;
}

#root {
  position: relative;
}

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.in-view {
  opacity: 1;
  transform: translateY(0);
}

/* Navbar */

header {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 0 160px;
  justify-content: space-between;
  align-items: center;
  background: var(--White, #fff);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo img {
  height: 48px;
  object-fit: cover;
}

header nav {
  display: flex;
  align-items: center;
  gap: 28px;
}

.navbar-link {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.navbar-link a {
  color: #5e5e5e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-link:hover a {
  color: var(--Dark-Purple-Primary, #502445);
}

.navbar-link .navbar-link-svg {
  transition: all 0.3s;
}

.navbar-link .navbar-link-svg path {
  transition: all 0.3s;
}

.navbar-link:hover .navbar-link-svg {
  transform: rotate(180deg);
}

.navbar-link:hover .navbar-link-svg path {
  fill: #502445;
}

.navbar-link:hover .navbar-dropdwon {
  opacity: 1;
  visibility: visible;
}

.navbar-dropdwon {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  background: var(--White, #fff);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.navbar-dropdwon-link {
  display: flex;
  width: 520px;
  justify-content: space-between;
  align-items: center;
}

.navbar-dropdwon-link-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.navbar-dropdwon-link-text p {
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

.navbar-dropdwon-link-text span {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.navbar-dropdwon-link svg {
  width: 12px;
  height: 12px;
  opacity: 0;
  transition: all 0.3s;
}

.navbar-dropdwon-link:hover svg {
  opacity: 1;
}

.primary-btn {
  display: flex;
  height: 40px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--Dark-Purple-Primary, #502445);
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

.primary-btn:hover {
  background: #32152b;
}

.primary-btn svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.primary-btn p {
  color: var(--White, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
}

.primary-btn.white {
  background: var(--White, #fff);
}

.primary-btn.white:hover {
  background: #eee9ec;
}

.primary-btn.white p {
  color: var(--Dark-Purple-Primary, #502445);
}

/* Home */

.banner {
  width: 100%;
  height: calc(100svh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 28px 160px;
}

.banner-left {
  display: flex;
  max-width: 550px;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  position: relative;
}

.banner-left-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.banner-left-text h1 {
  color: var(--Dark-Purple-Primary, #502445);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.6px;
}

.banner-left-text p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.banner-right {
  max-width: 550px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.banner-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.template {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  position: relative;
}

.template-background {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.template-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.template-heading p {
  display: flex;
  padding: 0 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--Blue, #0090bc);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
}

.template-heading p span {
  width: 4px;
  height: 4px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  border-radius: 50%;
  background: #0090bc;
}

.template-heading h2 {
  color: var(--Text-Black-Primary, #111);
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.44px;
}

.template-heading .template-heading-para {
  text-align: left;
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.home-process {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.home-process img {
  width: 100%;
  object-fit: cover;
}

.home-core {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.home-core-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 39px;
  flex-wrap: wrap;
}

.home-core-set {
  width: calc(100% / 3 - 26px);
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.home-core-set-img {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-core-set-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.home-core-set:hover img {
  scale: 1.1;
}

.home-core-set-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.home-core-set-text h3 {
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
}

.home-core-set-text p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.home-modular-container {
  background: #fbf5f9;
}

.home-modular-container .template-heading {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.home-modular-container .template-heading h2 {
  text-align: left;
}

.home-modular {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.home-modular-cards {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-modular-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.home-modular-card img {
  width: 56px;
  height: 56px;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: all 0.3s;
}

.home-modular-card-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.home-modular-card-text h3 {
  color: var(--Text-Black-Primary, #111);
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
}

.home-modular-card-text p {
  color: var(--Text-Black-text-black-300, #606060);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.home-stress-free {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background: var(--Dark-Purple-Primary, #502445);
}

.home-stress-free-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.home-stress-free-text h2 {
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.6px;
  background: linear-gradient(90deg, #fff 19.26%, #ff9fe7 82.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-stress-free-text p {
  max-width: 524px;
  color: var(--Grey-grey-200, #c2c2c2);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.home-health-report-container {
  flex-direction: row;
  gap: 40px;
  background: linear-gradient(107deg, #edfbff 0%, #ffebf8 100%);
}

.home-health-report-img {
  width: 100%;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 48px;
  background: #fbf5f9;
}

.home-health-report-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-health-report {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.home-health-report .template-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.home-health-report .template-heading h2 span {
  background: #0090bc;
  color: #fff;
}

.home-health-report-points {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.home-health-report-point {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.home-health-report-point h3 {
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
}

.home-health-report-point p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.home-health-report-points hr {
  width: 100%;
  border: 1px solid rgba(214, 214, 214, 0.5);
}

.home-about {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.home-about-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  align-self: stretch;
}

.home-about-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.home-about-text h3 {
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.12px;
}

.home-about-text p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.home-about-questions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.home-about-question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}

.home-about-question h4 {
  color: var(--Dark-Purple-Primary, #502445);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
}

.home-about-question p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.secondary-btn {
  position: relative;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  text-decoration: none;
  transition: all 0.3s;
}

.secondary-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #121212;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease, transform-origin 0s;
}

.secondary-btn:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  background: #32152b;
}

.secondary-btn p {
  color: var(--Dark-Purple-Primary, #502445);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  transition: all 0.3s;
}

.secondary-btn:hover p {
  color: #32152b;
}

.home-about-img {
  width: 100%;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  overflow: hidden;
}

.home-about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.home-about-img:hover img {
  scale: 1.1;
}

.home-testimony {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-testimony-set {
  width: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  border: 1px solid var(--Grey-grey-50, #f2f2f2);
  background: var(--White, #fff);
}

.home-testimony-set p {
  color: var(--Text-Black-text-black-400, #414141);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.home-testimony-set-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-testimony-set-info h3 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
}

.home-testimony-set-info span {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.home-faq-container {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  justify-content: space-between;
  align-items: center;
}

.home-faq {
  display: flex;
  width: 521px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.home-faq-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.home-faq-text h2 {
  color: #000;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.44px;
}

.home-faq-text p {
  color: var(--Text-Black-text-black-400, #414141);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.home-faq-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-faq-img img {
  width: 258px;
  object-fit: cover;
}

/* Core */

.core-services {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 46px;
}

.core-services .home-about:nth-child(even) {
  flex-direction: row-reverse;
}

.core-services .home-about-info {
  gap: 48px;
}

/* Blog */

.blog-trends {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.blog-trends-set {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 20px;
  text-decoration: none;
}

.blog-trends-set-img {
  width: 100%;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.blog-trends-set-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.blog-trends-set:hover img {
  scale: 1.1;
}

.blog-trends-set h3 {
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
  transition: all 0.3s;
}

/* Blog Inner Pages */

.banner-left-back-btn {
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s;
}

.blog-page-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 80px;
  align-self: stretch;
  padding: 80px 160px;
  position: relative;
}

.blog-page-container-left {
  display: flex;
  max-width: 680px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.blog-page-container-left h2 {
  color: var(--Text-Black-Primary, #111);
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.44px;
}

.blog-page-container-left p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.blog-page-container-left-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.blog-page-container-right {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  position: sticky;
  top: 80px;
}

.blog-page-container-right-set {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 7px;
  align-self: stretch;
  text-decoration: none;
}

.blog-page-container-right-set-img {
  width: 92px;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}

.blog-page-container-right-set-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.blog-page-container-right-set:hover img {
  scale: 1.1;
}

.blog-page-container-right-set p {
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

/* FAQ */

.faq-options {
  width: 100%;
  display: flex;
  padding: 48px 160px 16px 160px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.faq-options button {
  outline: none;
  border: 0;
  background: none;
  color: var(--Text-Black-text-black-200, #929292);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.faq-options button:hover {
  color: var(--Text-Black-Primary, #111);
}

.faq-options button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: #121212;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease, transform-origin 0s;
}

.faq-options .active-faq-option::after {
  transform: scaleX(1);
  transform-origin: left;
  background: #32152b;
}

.faq-options .active-faq-option {
  color: var(--Dark-Purple-Primary, #502445);
  cursor: default;
}

.faq-options .active-faq-option:hover {
  color: var(--Dark-Purple-Primary, #502445);
}

.faq {
  align-items: center;
}

.faq-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.faq-container hr {
  width: 100%;
  border: 1px solid #f2f2f2;
}

.faq-container hr:last-child {
  display: none;
}

.faq-set {
  width: 100%;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  cursor: pointer;
}

.faq-set.active-faq {
  cursor: default;
}

.faq-set span {
  min-width: 20px;
  flex-shrink: 0;
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.faq-set-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.faq-set-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

.faq-set svg {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  transition: all 0.3s;
}

.faq-set h3 {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

.faq-set p {
  color: var(--Text-Black-text-black-400, #414141);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0;
}

.active-faq p {
  max-height: 500px;
  padding-top: 16px;
  opacity: 1;
}

.active-faq svg {
  transform: rotate(180deg);
}

.active-faq svg path {
  fill: #000;
}

/* Contact */

.contact-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  max-width: 800px;
  display: flex;
  width: 800px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.input-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.input-section label {
  color: var(--Text-Black-Primary, #111);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.input-section input {
  width: 100%;
  display: flex;
  height: 44px;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid var(--Grey-grey-100, #d6d6d6);
  color: var(--Text-Black-text-black-200, #929292);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.input-section input:not(:placeholder-shown) {
  color: var(--Black-Primary, #121212);
}

.input-section select {
  width: 100%;
  display: flex;
  height: 44px;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid var(--Grey-grey-100, #d6d6d6);
  color: var(--Text-Black-text-black-200, #929292);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.input-section select:valid {
  color: var(--Black-Primary, #121212);
}

.input-section textarea {
  width: 100%;
  display: flex;
  height: 150px;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  resize: none;
  border: 1px solid var(--Grey-grey-100, #d6d6d6);
  color: var(--Text-Black-text-black-200, #929292);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.input-section textarea:not(:placeholder-shown) {
  color: var(--Black-Primary, #121212);
}

form .primary-btn {
  width: 100%;
  border: none;
}

.contact-links {
  display: flex;
  width: 100%;
  padding: 24px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.contact-links .home-modular-card {
  text-decoration: none;
}

.contact-links .home-modular-card:hover img {
  scale: 1.1;
}

/* Footer */

footer {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  background: #eee9ec;
}

.footer-top {
  display: flex;
  width: 463px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer-top-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.footer-top-text img {
  height: 48px;
  object-fit: cover;
}

.footer-top-text p {
  color: var(--Text-Black-Primary, #111);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
}

footer nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

footer nav a {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #5e5e5e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  text-decoration: none;
  transition: all 0.3s;
}

footer nav a:hover {
  color: var(--Dark-Purple-Primary, #502445);
}

.footer-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.footer-bottom hr {
  width: 100%;
  border: 1px solid #c9bbc5;
}

.footer-bottom-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer-bottom-container p {
  color: var(--Text-Black-text-black-300, #606060);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

  header {
    height: 64px;
    padding: 0 20px;
  }

  .navbar-logo img {
    height: 36px;
  }

  .mobile-navbar-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .mobile-navbar-button img {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    object-fit: cover;
  }

  .mobileNavbar {
    width: 100%;
    height: calc(100svh - 64px);
    background: #fff;
    position: fixed;
    top: 63px;
    right: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 80px;
    padding: 40px 20px 20px 20px;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(100%);
    }
  }

  .activeMobileNavbar {
    transform: translateX(0);
    animation: slideIn 0.3s forwards;
  }

  .nonactiveMobileNavbar {
    transform: translateX(100%);
    animation: slideOut 0.3s forwards;
  }

  .mobileNavbar nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
  }

  .navbar-link {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .navbar-link-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-link a {
    color: var(--Text-Black-Primary, #111);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
  }

  .navbar-link .navbar-link-svg {
    width: 20px;
    height: 20px;
  }

  .navbar-dropdwon {
    position: static;
    transform: none;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    padding: 0;
    box-shadow: none;
  }

  .navbar-link:hover .navbar-dropdwon {
    opacity: 1;
    visibility: visible;
    display: flex;
  }

  .navbar-dropdwon-link {
    width: 100%;
  }

  .navbar-dropdwon-link-text {
    width: 100%;
  }

  .navbar-dropdwon-link-text p {
    color: var(--Dark-Purple-Primary, #502445);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
  }

  .navbar-dropdwon-link-text span {
    color: var(--Text-Black-text-black-300, #606060);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
  }

  .mobileNavbar .primary-btn {
    width: 100%;
  }

  /* Home */

  .banner {
    height: calc(100svh - 64px);
    padding: 38px 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 24px;
  }

  .banner-right {
    max-width: 100%;
  }

  .banner-left {
    max-width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .banner-left-text h1 {
    color: var(--Dark-Purple-Primary, #502445);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.96px;
  }

  .banner-left-text p {
    width: 100%;
    color: var(--Text-Black-text-black-300, #606060);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
  }

  .template {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
  }

  .template-heading h2 {
    color: var(--Text-Black-Primary, #111);
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.12px;
  }

  .home-core-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .home-core-set {
    width: 100%;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border: 1px solid var(--Grey-grey-50, #f2f2f2);
  }

  .home-modular-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .home-modular-card {
    gap: 16px;
  }

  .home-modular-card img {
    width: 32px;
    height: 32px;
  }

  .home-modular-card-text h3 {
    color: var(--Text-Black-Primary, #111);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
  }

  .home-modular-card-text p {
    color: var(--Text-Black-text-black-300, #606060);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
  }

  .why-choose {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .why-choose .home-modular-card {
    width: 100%;
  }

  .home-stress-free {
    padding: 48px 20px;
  }

  .home-stress-free-text h2 {
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.12px;
    background: linear-gradient(90deg, #fff 19.26%, #ff9fe7 82.54%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .home-stress-free-text p {
    color: var(--Grey-grey-200, #c2c2c2);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
  }

  .home-health-report {
    align-items: center;
  }

  .home-health-report-point h3 {
    color: var(--Text-Black-Primary, #111);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
  }

  .home-about {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 24px;
  }

  .home-about-img {
    min-height: auto;
    height: 361px;
  }

  .home-about-text h3 {
    color: var(--Text-Black-Primary, #111);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
  }

  .home-about-text p {
    color: var(--Text-Black-text-black-300, #606060);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
  }

  .secondary-btn::after {
    transform: scaleX(1);
    transform-origin: left;
    background: #32152b;
  }

  .home-testimony {
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .home-testimony::-webkit-scrollbar {
    display: none;
  }

  .home-testimony-set {
    width: 80%;
    flex-shrink: 0;
  }

  .home-faq-container {
    display: flex;
    padding: 48px 20px;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 40px;
  }

  .home-faq {
    width: 100%;
  }

  .home-faq-img img {
    width: 160px;
  }

  .home-faq-text h2 {
    color: #000;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.12px;
  }

  /* Core */

  .core-services {
    gap: 40px;
  }

  .core-services .home-about {
    gap: 16px;
  }

  .core-services .home-about:nth-child(even) {
    flex-direction: column-reverse;
  }

  .core-services .home-about-info {
    gap: 24px;
  }

  /* Modular */

  .home-faq-container.modular {
    flex-direction: column;
  }

  .home-faq-container.modular .home-faq-img img {
    width: 100%;
  }

  /* Blog */

  .blog-trends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .blog-trends-set {
    padding: 0;
  }

  .blog-trends-set-img {
    height: 240px;
  }

  /* Blog Inner pages */

  .banner-left-back-btn {
    display: none;
  }

  .blog-page-container {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
  }

  .blog-page-container-left {
    max-width: 100%;
  }

  .blog-page-container-left h2 {
    color: var(--Text-Black-Primary, #111);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.12px;
  }

  /* FAQ */

  .faq-options {
    display: flex;
    padding: 16px 20px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .faq-options::-webkit-scrollbar {
    display: none;
  }

  .faq-options button {
    flex-shrink: 0;
  }

  .faq-container {
    gap: 16px;
  }

  .faq-set {
    display: flex;
    padding: 16px 0;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  /* Contact */

  form {
    width: 100%;
  }

  .contact-links {
    display: flex;
    padding: 24px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }

  /* Footer */

  footer {
    display: flex;
    padding: 80px 20px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .footer-top {
    width: 100%;
  }

  footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
